version: "3.9"

services: 
    backend:
        container_name: backend
        build: 
            context: ./src/backend/
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        restart: always
    
    frontend:
        container_name: frontend
        depends_on:
            - backend
        build: 
            context: ./src/frontend/
            dockerfile: Dockerfile
        ports:
            - "80:80"
        restart: always